In [5]:
import numpy as np
#import matplot.lib as plt
import pandas as pd

In [8]:
df = pd.read_csv("tennis.csv")
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2019-M020,Brisbane,Hard,NaN,A,20181231,243,106034,NaN,NaN,...,37.0,28.0,14.0,11.0,5.0,8.0,185.0,275.0,136.0,421.0
1,2019-M020,Brisbane,Hard,NaN,A,20181231,244,117360,NaN,NaN,...,65.0,49.0,23.0,16.0,4.0,7.0,166.0,318.0,99.0,590.0
2,2019-M020,Brisbane,Hard,NaN,A,20181231,245,106423,NaN,NaN,...,44.0,31.0,7.0,9.0,5.0,7.0,146.0,367.0,119.0,482.0
3,2019-M020,Brisbane,Hard,NaN,A,20181231,246,106426,3.0,NaN,...,33.0,28.0,9.0,10.0,2.0,4.0,84.0,650.0,NaN,NaN
4,2019-M020,Brisbane,Hard,NaN,A,20181231,247,200175,7.0,NaN,...,21.0,12.0,7.0,7.0,3.0,8.0,131.0,433.0,297.0,125.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1536 entries, 0 to 1535
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          1536 non-null   object
 1   tourney_name        1536 non-null   object
 2   surface             1536 non-null   object
 3   draw_size           0 non-null      float64
 4   tourney_level       1536 non-null   object
 5   tourney_date        1536 non-null   int64
 6   match_num           1536 non-null   int64
 7   winner_id           1536 non-null   int64
 8   winner_seed         677 non-null    float64
 9   winner_entry        251 non-null    object
 10  winner_name         1536 non-null   object
 11  winner_hand         1536 non-null   object
 12  winner_ht           301 non-null    float64
 13  winner_ioc          1536 non-null   object
 14  winner_age          1536 non-null   float64
 15  loser_id            1536 non-null   int64
 16  loser_seed          495 non-null    float64
 17  loser_entry         396 non-null    object
 18  loser_name          1536 non-null   object
 19  loser_hand          1535 non-null   object
 20  loser_ht            260 non-null    float64
 21  loser_ioc           1536 non-null   object
 22  loser_age           1536 non-null   float64
 23  score               1536 non-null   object
 24  best_of             1536 non-null   int64
 25  round               1536 non-null   object
 26  minutes             1525 non-null   float64
 27  w_ace               1496 non-null   float64
 28  w_df                1496 non-null   float64
 29  w_svpt              1496 non-null   float64
 30  w_1stIn             1496 non-null   float64
 31  w_1stWon            1496 non-null   float64
 32  w_2ndWon            1496 non-null   float64
 33  w_SvGms             1496 non-null   float64
 34  w_bpSaved           1496 non-null   float64
 35  w_bpFaced           1496 non-null   float64
 36  l_ace               1496 non-null   float64
 37  l_df                1496 non-null   float64
 38  l_svpt              1496 non-null   float64
 39  l_1stIn             1496 non-null   float64
 40  l_1stWon            1496 non-null   float64
 41  l_2ndWon            1496 non-null   float64
 42  l_SvGms             1496 non-null   float64
 43  l_bpSaved           1496 non-null   float64
 44  l_bpFaced           1496 non-null   float64
 45  winner_rank         1500 non-null   float64
 46  winner_rank_points  1500 non-null   float64
 47  loser_rank          1431 non-null   float64
 48  loser_rank_points   1431 non-null   float64
dtypes: float64(30), int64(5), object(14)
memory usage: 588.1+ KB